body {
  /* background: linear-gradient(to top, black 60%, #5A1C8B 40%); */
  background: linear-gradient(180deg, rgba(90,28,139,1) 30%, rgba(0,0,0,1) 55%);
  font-family: 'Lato', sans-serif;
}

li {
  height: 60px;
}

li *{
  cursor: pointer;
}

li:hover{
  background-color: lightgrey;
}

li.done {
  text-decoration: line-through;
}

.cont-message {
  height: 40px;
}

